-
  const ttl = "第18回 スタジオ管理シート"
  let song_list = ["ソラニン","拝啓、少年よ","青い栞","スターフィッシュ"]

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title #{ttl}
    link(rel="stylesheet" href="css/style.css")
  body
    h1 #{ttl}
    header
      button#changeBtn(onclick="changeFC()") 管理シート
      button#loginBtn.display-inline(onclick="loginFC()") ログイン
      button#logoutBtn.display-none(onclick="logoutFC()") ログアウト
      p.supplement-message#supplement-message ※ログインすると登録後の編集が可能です。みんなの負担減！
    main
      section#form.display-block
        p お名前
        span#validateMessageName.display-none ※必須です
        input#userName.username-input(type="text" placeholder="名前を入力してください")
        select#rootEdit.display-none(name="")
          option(value="") 選択

          //- - for (var x = 0; x < 24; x++)
            option(value=x) #{x}
        span#validateMessageCheck.display-none ※チェック必須です
        .table
          ul.flex.head
            li.title 課題曲
            li Vo
            li(style="text-align:center;") Gt<br><span style="font-size:10px;">(Lead)<span>
            li(style="text-align:center;") Gt<br><span style="font-size:10px;">(Side)<span>
            li Ba
            li Dr
        #songCheckboxAll
          each song,key in song_list 
            ul.flex.body.song-checkbox
              li.title #{song} 
              input(type="checkbox" id=`vo${key}`)
              input(type="checkbox" id=`gtLead${key}`)
              input(type="checkbox" id=`gtSide${key}`)
              input(type="checkbox" id=`ba${key}`)
              input(type="checkbox" id=`dr${key}`)
          ul.flex.body.song-checkbox
            li.title 見学 
            input#visiter(type="checkbox")

        button#addBtn(onclick="addFC()") 送信
        button#removeBtn.display-none(onclick="removeFC()") 取消
        button#rootEditBtn.display-none(onclick="rootEditFC()") 更新(幹事)
        button#rootRemoveBtn.display-none(onclick="rootRemoveFC()") 取消(幹事)
        p.supplement-message.display-none#rootMessage ※選択ユーザーの編集(幹事権限)。<br>自身の編集は再度リロードして行ってください。
      section#sheet.display-none
        p#peopleNumber
        table(border="1")
          tr
            td.title 課題曲
            td.td-width Vo
            td.td-width Gt<br><span style="font-size:10px;">(Lead)<span>
            td.td-width Gt<br><span style="font-size:10px;">(Side)<span>
            td.td-width Ba
            td.td-width Dr
          each song,key in song_list             
            tr
              td #{song}
              td(id=`sheet_vo${key}`)
              td(id=`sheet_gtLead${key}`)
              td(id=`sheet_gtSide${key}`)
              td(id=`sheet_ba${key}`)
              td(id=`sheet_dr${key}`)
        p 見学者
        p#sheet_visiter.visiter-text

    script(src="https://www.gstatic.com/firebasejs/7.15.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.3/firebase-analytics.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.3/firebase-database.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.3/firebase-auth.js")
    script(src="js/firebase/init.js")
    script(src="js/firebase/auth.js")
    script(src="js/firebase/database.js")
    script(src="js/index.js")
    script(src="js/sheet.js")
    script(src="js/root.js")