-
  const ttl = "第18回 スタジオ管理シート"
  let song_list = ["ソラニン","拝啓、少年よ","青い栞","スターフィッシュ"]

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title #{ttl}
    link(rel="stylesheet" href="css/style.css")
  body
    h1 #{ttl}
    header
      button#changeBtn(onclick="changeFC()") 管理
      button#loginBtn.display-inline(onclick="loginFC()") ログイン
      button#logoutBtn.display-none(onclick="logoutFC()") ログアウト
      p.supplement-message ※ログインすると登録後の編集が可能です。みんなの負担減！
    main
      section#sheet.display-block
        p#peopleNumber

        table(border="1")
          tr
            td 課題曲
            td Vo
            td Gt<br><span style="font-size:10px;">(Lead)<span>
            td Gt<br><span style="font-size:10px;">(Side)<span>
            td Ba
            td Dr
          each song,key in song_list             
            tr
              td.title #{song}
              td ふわふわ<br>ひつじ<br>ぱげぱげ
              td ふわふわ<br>ひつじ<br>ぱげぱげ
              td ふわふわ<br>ひつじ<br>ぱげぱげ
              td ふわふわ<br>ひつじ<br>ぱげぱげ
              td ふわふわ<br>ひつじ<br>ぱげぱげ
              
        p 参加者人数

        table
          tr
            td 課題曲
            td Vo
            td Gt<br><span style="font-size:10px;">(Lead)<span>
            td Gt<br><span style="font-size:10px;">(Side)<span>
            td Ba
            td Dr
          each song,key in song_list             
            tr
              td.title #{song} 
              td: input(type="checkbox" id=`vo${key}`)
              td: input(type="checkbox" id=`gtLead${key}`)
              td: input(type="checkbox" id=`gtSide${key}`)
              td: input(type="checkbox" id=`ba${key}`)
              td: input(type="checkbox" id=`dr${key}`)

        //- ul.flex.head
        //-   li.title 課題曲
        //-   li Vo
        //-   li(style="text-align:center;") Gt<br><span style="font-size:10px;">(Lead)<span>
        //-   li(style="text-align:center;") Gt<br><span style="font-size:10px;">(Side)<span>
        //-   li Ba
        //-   li Dr
        //- each song,key in song_list 
        //-   ul.flex.body.song-checkbox
        //-     li.title #{song} 
        //-     li(id=`vo${key}`)
        //-       input(type="text")
        //-     li.gt(id=`gt-lead${key}`)
        //-       input(type="text")
        //-     li.gt(id=`gt-side${key}`)
        //-       input(type="text")
        //-     li(id=`ba${key}`)
        //-       input(type="text")
        //-     li(id=`dr${key}`) 
        //-       input(type="text")

    script(src="https://www.gstatic.com/firebasejs/7.15.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.3/firebase-analytics.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.3/firebase-database.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.3/firebase-auth.js")
    script(src="js/firebase/init.js")
    script(src="js/index.js")